body { 
    background-image: url("tim-gouw-124468-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    
}

       
h1{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 2px;}
h2{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        text-align: center;
        color: whitesmoke;
        margin-bottom: 2px;}

    .outer {
        text-align: center;
        
        border-radius: 0px;        
        width: 100%;
        padding: 5px;
        margin-bottom: 0px;
        
        overflow: auto;

    }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
li{
    float: left;
    
}
li:hover{background-color: #111;}


li a{
    display: block;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}
.active{
    background-color: black;
    color: white;
}
